name: Daily Scraper

on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch: 

jobs:
  scraping-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar Scraper
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: python main.py
